<!DOCTYPE html>
<html>
    <head>
        <title>coterie</title>
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
        <body>
            
            <div class="logo">
                <img src="C:\Users\sarangpc\mini project\Group 184.png">
            </div>
            <div class="menu-bar">
        <ul>
            <li class="active"><a href="#"><i class="fa fa-home"></i>HOME</a></li>
            <li><a href="#"><i class="fa fa-phone"></i>CONNECT</a></li>
            <li><a href="#"><i class="fa fa-info"></i>ABOUT US</a></li>
            <li><a href="#"><i class="fa fa-sign-in"></i>LOGIN</a></li>
        </ul>
    </div>
    <div class="login-form">
        <h1>Login Form</h1>
        <form action="/login" method="POST">
            <p>User Name</p>
            <input type="text" name="user" placeholder="User Name">
            <p>Password</p>
            <input type="passwrod" name="password" placeholder="Password">
            <button type="submit">SIGN IN</button>
        </form>
    </div>
    <p>
        Coterie is a website which connects people who have similar job interests to interact and share their thoughts to achieve the respective job. The website is designed by providing the users with details of their ambitions and experienced apt mentors of the respective field are connected to users.
        </p>
       <p> A recent survey on career option awareness among Indian students has revealed that a staggering 93% of the students aged 14 to 21 were aware of just seven career options though there are more than 250 different types of job options available in India.The main reason behind this problem is that there are a huge number of youth passing out from schools and colleges every year, and there are many new career options and job roles being added to various industries in well. Students feel much more confident in choosing a particular career when they are supported by their parents.
        </p>
        <p>Our website,COTERIE, aims at providing a satisfyingsolution for the above problem.
    </p>
        </body>
    </head>
</html>